
/* GENERAL PRESETS */

body * {
    margin: 0px;
    padding: 0px;
}



/* MAIN STYLING */

.wrapper {
   background-color: rgb(138, 138, 138);
   

}

.game-container {
    background-color: lightblue;
    border: 1px black solid;
    height: 300px;
    width: 40%;
}
#options {
    border: 1px black solid
}

.dec-container {
    background-color: lightcoral;
}

.char-container {
    background-color: lightgoldenrodyellow;
    display: flex;
}

.inv-container  {
    background-color: lightgreen;
}











/* BORDERS FOR GAME-CONTAINER */

.blue-border-btn {
    height: 20px;
    width: 20px;
    background-color: lightblue;
}
.red-border-btn {
    height: 20px;
    width: 20px;
    background-color: lightcoral;
}
.green-border-btn {
    height: 20px;
    width: 20px;
    background-color: lightgreen;
}